{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" data-livestyle-extension="available"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Pankaj Taneja">

    <title>404 Cat</title>

    <!-- Fonts -->
    <link href="{% static 'css/404css.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/404css(1).css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/404css(2).css' %}" rel="stylesheet" type="text/css">

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Core CSS -->
    <link href="{% static 'css/404core.css' %}" rel="stylesheet" type="text/css">



<style type="text/css"></style><style type="text/css"></style><link rel="stylesheet" type="text/css" href="chrome-extension://pkehgijcmpdhfbdbbnkijodmdjhbjlgp/skin/socialwidgets.css"></head>
<body class="blue-bg" cz-shortcut-listen="true">
<div class="col-md-12" style="top:48vmin">
    <div class="meow">
        <div class="cat">
            <div class="cat-inner">
            </div>
            <div class="cat-head">
                <div class="cat-ear"></div>
                <div class="cat-ear2"></div>
                <div class="cat-nose"></div>
                <div class="cat-mouth"><div class="cat-meow"></div></div>
                <div class="cateye">
                    <div class="cateye inner"></div>
                    <div class="cateye inner inner-2"></div>
                    <div class="cateyelid top"></div>
                    <div class="cateyelid bottom"></div>
                </div>
                <div class="cateye2">
                    <div class="cateye inner"></div>
                    <div class="cateye inner inner-2"></div>
                    <div class="cateyelid top"></div>
                    <div class="cateyelid bottom"></div>
                </div>
            </div>
            <div class="cat-leg"></div>
            <div class="cat-foot"></div>
            <div class="cat-leg-front"></div>
            <div class="cat-foot-front"></div>
            <div class="cat-hind-leg"></div>
            <div class="cat-hind-leg-top"></div>
            <div class="cat-hind-foot"></div>
            <div class="cat-hind-paw"></div>
            <div class="cat-hind-leg2"></div>
            <div class="cat-hind-leg-top2"></div>
            <div class="cat-hind-foot2"></div>
            <div class="cat-hind-paw2"></div>
            <div class="cat-tail"></div>
            <div class="cat-tail-end"></div>
        </div>
        <h1>404</h1>
    </div>
</div>
<div class="col-md-12">
    <div class="message">
        <h2>You disturbed my catnap!</h2>
        <p>The page you're looking for does not exist</p><br>
        <div class="btndiv"><div class="btnpop"><a href="/">Go to Home</a></div></div>
    </div>
</div>

</body>
</html>