{% extends 'main.html' %}
{% load static %}
{% block slider %}
    <div class="container-fluid slider">
        <div class="row1">
            <div class="col-lg-12 slider">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{% static 'img/292573.jpg' %}" alt="...">
                            <div class="carousel-caption">
                                <h3>Some text</h3>
                                <p>Some text</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="{% static 'img/star-wars-pulp-fiction_00441488.jpg' %}" alt="...">
                            <div class="carousel-caption">
                                <h3>Some text</h3>
                                <p>Some text</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="{% static 'img/292573.jpg' %}" alt="...">
                            <div class="carousel-caption">
                                <h3>Some Text</h3>
                                <p>Some Text</p>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}